<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div class="container">
            <pre class="title">{{title}}</pre>
            <div class="desc">{{desc}}</div>
            <form method="POST">
                <input type="submit" name="run">
		    </form>	
        </div>
    </body>
</html>